*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
  --color-primary:  #219F95;
  --color-body:#1E1E1E;
  --color-body-light:#696969;
  --color-secondary-light:#AFCEDD;
  --color-secondary-dark:#234894;

}

html{
    font-size: 62.5%;
}

body{
    font-family: "Vazirmatn";
}

h1{
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--color-body);
}



.btn{
    width: 100%;
    height: auto;
    height: 64px;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 8px;
    padding: 2rem 2.5rem;
    margin:1rem 0;
    text-align: center;
    white-space: nowrap;
    font-family: "vazirmatn";
    font-size: 1.4rem;
    background-color:var(--color-primary);
    color: white;
  }

  .container{
    max-width: 1140px;
    margin: 0 auto;
  }

  .title{
  padding: 1.2rem;
  }

  .title h1{
    font-size: 1.5rem;
    font-weight: 700;
    
  }
  .request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

  }

  .request__items{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding:1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .request__items:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .item__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__badge{
   width: 40px;
   height: 40px;
   border-radius: 0.6rem;
   background-color:var(--color-secondary-light);
   color: var(--color-secondary-dark);
   font-size: 1.4rem;
   font-weight: bold;
   padding: 0.4rem 1rem;
   margin-left:0.5rem;
  }
  .header__title{
    font-size: 1.3rem ;
    font-weight:600 ;
    color:var(--color-secondary-dark) ;
  }
.header__date{
    font-size: 1rem;
    color:var(--color-body-light);
}

.item__content{
    margin-top: 1rem;
}

.item__content p{
 font-size: 1rem;
 color: var(--color-body-light);
 
}

.item__footer{
    margin-top: 1.3rem;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 1rem;

}
.user__name{
    font-size: 1.2rem;
    color: var(--color-body);
   margin-right: 0.6rem;
    
 
}

/* BREAKPOINT */
  @media screen and (min-width: 768px) {
    .request{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(3,1fr);
      column-gap: 2rem;
      row-gap: 1rem;
    }
    .title h1{
        font-size: 2.2rem;
        font-weight: 900;
    }
    .header__badge{
        font-size: 1.8rem;
        padding: 0 1rem;    
    }

    .header__title{
        font-size: 1.6rem;
    }

    .item__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn{
        width:150px;
        height: 64px;
    }

  }


  @media screen and (min-width: 1280px){
    .request{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 2.3rem;
    }
  }
  


